* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
  font-size: 62.5%;
}

body {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--light);

  transition: background 0.6s;
}

.wrapper {
  display: flex;
}

.switch {
  width: 23.5rem;
  height: 10.2rem;
  padding-inline: 1.2rem;
  padding-block: 0.8rem;
  border-radius: 5.9rem;
  position: relative;
  background: var(--label);
  box-shadow: 4.5px 3.4px 2.7px rgba(0, 0, 0, 0.078),
    11.5px 8.7px 6.9px rgba(0, 0, 0, 0.111),
    23.4px 17.7px 14.2px rgba(0, 0, 0, 0.139),
    48.2px 36.5px 29.2px rgba(0, 0, 0, 0.172),
    132px 100px 80px rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: space-between;

  cursor: pointer;

  transition: box-shadow 0.9s;
}

.ball {
  position: absolute;
  top: 0.6rem;
  transform: translateX(12.5rem);
  width: 9rem;
  height: 9rem;
  border-radius: 10rem;
  background: #fff;
  transition: transform 0.4s;
}

body.dark {
  background: var(--dark);
  transition: background 0.6s;
}

body.dark .ball {
  transform: translateX(-0.5rem);
}

body.dark .switch {
  box-shadow: 0px 4.1px 6.5px rgba(0, 0, 0, 0.08),
    0px 11.3px 17.9px rgba(0, 0, 0, 0.117),
    0px 27.1px 43.1px rgba(0, 0, 0, 0.155), 0px 90px 143px rgba(0, 0, 0, 0.24);

  transition: box-shadow 0.7s;
}
